<div class="text-center">
  <div class="unauthorized" *ngIf="!authorized">
    <h2>Given details do not match our record. Please try again.</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" class="form-control" id="email" placeholder="Email" formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">E-mail is required</div>
        <div *ngIf="!f.email.errors.required && f.email.valid === false">E-mail is not valid</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password" formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.pattern">Password not valid (one upper case, one number, one special
          character:
          #?!@$%^&*
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
