<div class="errors" *ngIf="errors.length">
  <h2>There were some problems with your form</h2>

  <ul>
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
      formControlName="email">

    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">E-mail is required</div>
      <div *ngIf="!f.email.errors.required && f.email.valid === false">E-mail is not valid</div>
    </div>
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" id="username" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
      formControlName="username">

    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="first_name">First name</label>
    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="First name" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }"
      formControlName="first_name">

    <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
      <div *ngIf="f.first_name.errors.required">First name is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="last_name">Last name</label>
    <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Last name" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"
      formControlName="last_name">

    <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
      <div *ngIf="f.last_name.errors.required">First name is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      formControlName="password">

    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password_confirmation">Password confirmation</label>
    <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" placeholder="Password confirmation"
      [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }" formControlName="password_confirmation">

    <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
      <div *ngIf="f.password_confirmation.errors.required">Password confirmation is required</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>
