<div class="text-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">E-mail is required</div>
                <div *ngIf="!f.email.errors.required && f.email.valid === false">E-mail is not valid</div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Reset password</button>

    </form>

    <div class="alert alert-success" role="alert" *ngIf="passwordSent">
        Password reset email has been sent to your email address
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{ error }}
    </div>
</div>
