<h1>My TODOs:</h1>

<ul class="todos list-group" *ngIf="todos.length; else noTODOs">
  <li *ngFor="let todo of todos" [class.completed]="todo.completed" class="list-group-item">
    <a [routerLink]="['/todos/', todo.id]">
      {{ todo.name }} {{ todo.completed ? '✓' : '𐄂' }}
    </a>
    <br>
    <a [routerLink]="['/todos/', todo.id, 'edit']">
      EDIT
    </a>
  </li>
</ul>

<ng-template #noTODOs>
  <span class="no-todos">
    You don't have any TODOs!
  </span>
</ng-template>

<p><a [routerLink]="['/todos/create']">Create a new TODO</a></p>
