<h1>Edit a TODO</h1>

<div class="text-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" id="name" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">

      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="user_id">User id</label>
      <input type="text" name="user_id" class="form-control" id="user_id" placeholder="User id" formControlName="user_id"
        [ngClass]="{ 'is-invalid': submitted && f.user_id.errors }">

      <div *ngIf="submitted && f.user_id.errors" class="invalid-feedback">
        <div *ngIf="f.user_id.errors.required">User id is required</div>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="completed" formControlName="completed">
      <label class="form-check-label" for="completed" name="completed">Completed</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
