<h1>View a TODO</h1>

<p>ID: {{ todo.id }}</p>

<p>Name: {{ todo.name }}</p>
<p>Status: {{ todo.completed ? 'Completed' : 'Not completed' }}</p>

<p>Assigned to: {{ todo.user_id }}</p>
<p>Created by: {{ todo.creator_id }}</p>

<a [routerLink]="['/todos/', todo.id, 'edit']">
    edit
</a>
