<div class="text-center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password" formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password_confirmation">Password confirmation</label>
      <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" placeholder="Password confirmation"
        formControlName="password_confirmation" [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }">

      <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
        <div *ngIf="f.password_confirmation.errors.required">Password is required</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Change password</button>

  </form>

  <div class="alert alert-success" role="alert" *ngIf="passwordChanged && !error">
    Password has been changed
  </div>

  <div class="alert alert-danger" *ngIf="submitted && error" innerHTML="{{ error }}">
  </div>

  <div class="form-group">
    <a [routerLink]="['/login']" class="btn btn-link">Login</a>
    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
  </div>
</div>
