<ul class="nav">
    <li *ngIf="!isLogged" class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
    </li>
    <li *ngIf="!isLogged" class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
    </li>
    <li *ngIf="!isLogged" class="nav-item">
        <a class="nav-link" [routerLink]="['/forgot-password']">Forgot password?</a>
    </li>
    <li *ngIf="isLogged" class="nav-item">
        <a class="nav-link" [routerLink]="['/todos']">TODOs</a>
    </li>
    <li *ngIf="isLogged" class="nav-item">
        <a class="nav-link" [routerLink]="['/logout']">Logout</a>
    </li>
</ul>
